[submodule "_submodules/JUCE"]
	path = _submodules/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "_submodules/meadow"]
	path = _submodules/meadow
	url = https://github.com/tamaskenez/meadow.git
